# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
/node_modules
/vendor

# Build files
/dist
/assets

# Environment files
.env
.env.*
!.env.example

# Editor files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Package files
*.zip
package-lock.json
composer.lock

# WordPress specific
wp-config.php

# Allow index.php files
!**/index.php
